<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Arvo|Lato|Literata|Montserrat|Raleway&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="base.css">
    <script src="base.js"></script> 
  </head>
  <body>
    <form id="first">
      <div>
	What name is in valuable?
      </div><br>
      <div>
	<input type="text" name="name"><br>
	<input type="submit" value="Submit">
      </div>
    </form>
    <style>
      body{
	  background-color: #e4ffde;
      }
    </style>
  </body>
</html>
